<!DOCTYPE html>
<html lang="PT-br">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">
  <header>
    <h3 class="title">Informe o TOKEN para obter o resultado de seus testes:</h3>
  </header>
  <main>
    <div class="main-div">
      <div class="input-token"></div>
        <input id="placeholder-text" type="text" class="input" placeholder="Digite aqui o seu TOKEN">
      </div>
      <div class="button-token">
        <button class="send-token" id="send_token" onclick="">Buscar Resultados</button>
      </div>
    </div>
  </main>
</body>
</html>