<!DOCTYPE html>
<html lang="PT-br">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">
  <header>
    <h3 class="title">Escolha o arquivo csv a ser enviado ao servidor:</h3>
  </header>
  <main>
    <div class="main-div">
      <form method="post" enctype="multipart/form-data" action="../../uploads">
        <input type="file" name="file" class="input">
        <input type="submit" value="upload" class="button">Enviar</button>
      </form>
    </div>
  </main>
</body>
</html>
